@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --light-font-color: #6a6a6a;
    --dark-font-color: #323232;
    --btn-primary-color: #E93B81;
    --white: #ffffff;
    --border-radius: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    line-height: 1.8;
    color: var(--light-font-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--dark-font-color);
    font-weight: 700;
}

a{
    color: var(--dark-font-color);
    text-decoration: none;
    font-weight: 500;
}

a:hover{
    color: var(--btn-primary-color);
}

img{
    width: 100%;
}

section{
    padding: 120px 0;
}

/* navbar */

.navbar-brand{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

/* hero */

#hero{
    background-image: linear-gradient(rgba(17, 36, 90, 0.8), rgba(17, 36, 90, 0.8)), url(./assets/hero_img.jpg);
    background-size: cover;
    background-position: center;
}

#hero p{
    max-width: 600px;
}

/* btn */

.btn{
    font-weight: 500;
    padding: 10px 25px;
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
    color: var(--white);
    border-radius: var(--border-radius);
    transition: all 0.4s ease;
}

.btn:hover{
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
    color: var(--white);
    transform: scale(1.1);  
}

/* section-title */

.section-title{
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.section-title h6{
    color: var(--light-font-color);
}

/* project */

.link::before{
    content: "";
    width: 10px;
    height: 2px;
    background-color: var(--btn-primary-color);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    transition: all 0.4s ease;
}

.link:hover::before{
    width: 20px;
}

/* contact */

.card{
    border: none;
    transition: all 0.4s ease;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

i{
    color: var(--dark-font-color);
}

/* footer */
footer a{
    color: var(--white);
}

footer .container{
    padding-top: 30px;
    padding-bottom: 30px;
}